body {
    font-family: "Microsoft YaHei", Arial, sans-serif;          
    margin: 0;
    padding: 0;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
}
#connectionStatus {
    font-weight: bold;
    margin-bottom: 10px;
}
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    width: 100px;
}
button:hover {
    background-color: #0056b3;
    cursor: hand;
}
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    margin: 10px;
}
#messages {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    margin: 10px;
    min-height: 50px;
}
.info {
    margin: 10px;
    font-size: 12px;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #007bff;
    padding: 10px;
    margin:0;
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
    display: none;
}
.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.btn {
    border: 2px solid #4CAF50;
    color: white;
    background-color: #4CAF50;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}